# STAT 207 Group Lab Assignment 5 - [10 total points]

## Random Variables

Due: Wednesday, February 22, 11:59pm CST

No Late Submissions Accepted

<hr>

## <u>Purpose</u>:
You should work in groups of 2-3 on this report. The purpose of this group lab assignment is to explore random variables, both based on their generating process and based on properties of well-defined distributions.
<hr>

## <u>Assignment Instructions</u>:

### Contribution Report
These contribution reports should be included in all group lab assignments. In this contribution report below you should list of the following:
1. The netID for the lab submission to be graded.  (Some groups have each member create their own version of the document, but only one needs to be submitted for grading.  Other groups have only one member compose and submit the lab.)
2. Names and netIDs of each team member.
3. Contributions of each team member to report.

*For example:*

*<u>Teammates:</u>*

*doe105 should be graded.  John Smith (smith92) & Jane Doe (doe105) worked together on all parts of this lab assignment*, 

OR

*doe105 should be graded*

*1. John Smith (smith92): did number 1,2 and 3*

*2. Jane Doe (doe105): did number 4, and 5*

Advaid(advaitr3) should be graded.
1. Yuanbo Shen(yuanbo3)
2. Advait Renduchintala (advaitr3)
3. Damian Makowski (damianm4)

### Group Roles

You are expected to work in groups of 2-3 on this report.  Since you are working in groups, you may find it helpful to have specified roles.  Below, I provide roles that can be used for groups of 2 and for groups of 3.  I encourage you to switch roles within this lab report, as possible.  I also encourage you to switch roles for each subsequent lab, as possible, based on your group membership.  You may have established a different process for completing labs in the first few labs, and you can continue to use this process if you've found it to be effective.

#### Groups of 2

* **Driver**: This student will type the report.  While typing the report, you may be the one who is selecting the functions to apply to the data.
* **Navigator**: This student will guide the process of answering the question.  Specific ways to help may include: outlining the general steps needed to solve a question (providing the overview), locating examples within the course notes, and reviewing each line of code as it is typed.

#### Groups of 3

* **Driver**: This student will type the report.  They may also be the one to select the functions to apply to the data.
* **Navigator**: This student will guide the process of answering the question.  They may select the general approach to answering the question and/or a few steps to be completed along the way. 
* **Communicator**: This student will review the report (as it is typed) to ensure that it is clear and concise.  This student may also locate relevant examples within the course notes that may help complete the assignment.

<hr>

### Imports

In [1]:
#Run this
import pandas as pd                    # imports pandas and calls the imported version 'pd'
import matplotlib.pyplot as plt        # imports the package and calls it 'plt'
import seaborn as sns                  # imports the seaborn package with the imported name 'sns'
sns.set()

<hr>

## <u>Case Study</u>: Online Advertising Campaign

**Target Population Identification**
Suppose that you own an Etsy store and you are interested in advertising your products online. You have already conducted quite a lot of research, identifying a large population of people (along with their corresponding browser ids) that would be *most* likely to buy your product. We call this the **target population**. You decide to only advertise to these people in the target population with online ads. 

**Online Advertising Effectiveness**
From your prior research, you have determined that once a person in the target population has been exposed to an online ad for your product, there is a 16.667% chance (1 in 6 chance) that they will actually buy the product.

**Inventory Decisions**
Unfortunately, your product has storage, production, and shipping limitations.  Your product can only be made in 'batches' of size 6, and you do not have space to store extra supplies or products. You are limited to creating and selling one 'batch' to completion before taking new orders.  So, once you have sold your sixth product, you would need to stop your advertising campaign to make another batch in order to fulfill all orders in a timely manner.

### <u>Defining a Random Variable</u>

To help us learn more about our advertising campaign, let's define a random variable:

**X = the number of people in the target population that you have to advertise your product to until 6 of these people have purchased your product.**

<hr>

### 1. [4 pt] <u>Simulation Design</u>
Design and execute a simulation that randomly generates a value for this random variable X that we defined above.  

**Note:** You may not use anything from the `scipy.stats` package for this question.

*Hint: You might find the dataframe created below useful in your simulation. What is the probability of randomly sampling a person from this 'simulated_pop' that has purchased the product? What is the probabilty of randomly sampling a person from this 'simulated_pop' that has not purchased the product?*

In [2]:
import pandas as pd
simulated_pop=pd.DataFrame({'purchased_product':['yes','no','no','no', 'no', 'no']})
simulated_pop

  purchased_product
0               yes
1                no
2                no
3                no
4                no
5                no

In [26]:
import random
def random_var_simu():
    count = 0
    total = 0
    pick = True
    while pick:
        select = random.choice(simulated_pop['purchased_product'])
        total += 1
        if select == 'yes':
            count += 1
        if count == 6:
            pick = False
    return total

random_var_simu()

41

In [27]:
## Check the funtion
## The outcome should be close to 36
sum = 0
for i in range(10000):
    sum += random_var_simu()
sum/10000

35.9346

### 2. [1.5 pt] <u>Multiple Random Variable Values Generation</u>

Now, use this simulation that you created above to randomly generate **750** values for the random variable X. Put these 750 random variable values that you generated in a dataframe.

In [34]:
data = []
for i in range(750):
    values = random_var_simu()
    d = {'values':values}
    data.append(d)
df = pd.DataFrame(data)
df

     values
0        53
1        29
2        31
3        30
4        50
..      ...
745      20
746      25
747      41
748      39
749      33

[750 rows x 1 columns]

In [35]:
df.values.mean()

36.0

### 3. [0.5 pt] <u>Average Number of Ads</u> 

Use these 750 randomly generated values from **Question 2** to approximate the **average** number of online ads you need to show to your target population in order to sell all six products in your inventory.

In [36]:
df.values.mean()

36.0

### 4. [4 pts] <u>Applying Distributions</u>

Let **Z = the number of people in the target population that you have to advertise your product to until 1 person purchases your product**.

**a)** What distribution does Z follow.  Be complete.

Geometric Distribution

**b)** We can use multiple iterations of $Z$ to help us generate $X$.  How are these two random variables related?

X = Z * 6

**c)** Using the pre-built `scipy.stats` set of functions along with your answers to **a** and **b** above, generate 500 random values for $X$.

In [37]:
from scipy.stats import geom

In [45]:
Z_array = geom.rvs(p = 1/6, size = 6)
Z_array

array([13,  3,  2,  5,  1, 13])

In [47]:
X = Z_array.sum()
X

37

In [66]:
sum_x = []
for i in range(500):
    Z_array = geom.rvs(p = 1/6, size = 6)
    X = Z_array.sum()
    d = {'X':X}
    sum_x.append(d)
df_sum_x = pd.DataFrame(sum_x)
df_sum_x

      X
0    57
1    55
2    56
3    30
4    55
..   ..
495  41
496  45
497  37
498  30
499  63

[500 rows x 1 columns]

**d)** Calculate the average value for $X$ based on the 500 random values you just calculated.  Compare this to what you found in Question **3**.

In [67]:
df_sum_x.X.mean()

35.996

35.996

**e)** A friend notices the sample size for this Question is 500, while the sample size from Question **2** is 750.  Therefore, your friend expects the standard deviation for the simulated Xs from Question **2** to be smaller than from Question **4**.  Do you think your friend is correct?  Explain.  Then check by calculating the standard deviations for both samples.

The standard deviation are quite close. I think he is incorrect. Since these two are random generated samples.

In [69]:
df_sum_x.X.std()

12.886742033597203

In [70]:
df.values.std()

12.97289481958441