# STAT 207 Group Lab Assignment 4 - [10 total points]

## Probability & Sampling Distributions from Lab Data

Due: Wednesday, February 15, 11:59pm CST

No Late Submissions Accepted

<hr>

## <u>Purpose</u>:
You should work in groups of 2-3 on this report. The purpose of this group lab assignment is to calculate probabilities together and to explore sampling distributions.
<hr>

## <u>Assignment Instructions</u>:

### Contribution Report
These contribution reports should be included in all group lab assignments. In this contribution report below you should list of the following:
1. The netID for the lab submission to be graded.  (Some groups have each member create their own version of the document, but only one needs to be submitted for grading.  Other groups have only one member compose and submit the lab.)
2. Names and netIDs of each team member.
3. Contributions of each team member to report.

*For example:*

*<u>Teammates:</u>*

*doe105 should be graded.  John Smith (smith92) & Jane Doe (doe105) worked together on all parts of this lab assignment*, 

OR

*doe105 should be graded*

*1. John Smith (smith92): did number 1,2 and 3*

*2. Jane Doe (doe105): did number 4, and 5*

yuanbo3 should be graded.

1. Yuanbo Shen(yuanbo3)
2. Advait Renduchintala (advait3)
3. Damian Makowski (damianm4)

### Group Roles

You are expected to work in groups of 2-3 on this report.  Since you are working in groups, you may find it helpful to have specified roles.  Below, I provide roles that can be used for groups of 2 and for groups of 3.  I encourage you to switch roles within this lab report, as possible.  I also encourage you to switch roles for each subsequent lab, as possible, based on your group membership.  You may have established a different process for completing labs in the first few labs, and you can continue to use this process if you've found it to be effective.

#### Groups of 2

* **Driver**: This student will type the report.  While typing the report, you may be the one who is selecting the functions to apply to the data.
* **Navigator**: This student will guide the process of answering the question.  Specific ways to help may include: outlining the general steps needed to solve a question (providing the overview), locating examples within the course notes, and reviewing each line of code as it is typed.

#### Groups of 3

* **Driver**: This student will type the report.  They may also be the one to select the functions to apply to the data.
* **Navigator**: This student will guide the process of answering the question.  They may select the general approach to answering the question and/or a few steps to be completed along the way. 
* **Communicator**: This student will review the report (as it is typed) to ensure that it is clear and concise.  This student may also locate relevant examples within the course notes that may help complete the assignment.

<hr>

### Imports

In [1]:
#Run this
import pandas as pd                    # imports pandas and calls the imported version 'pd'
import matplotlib.pyplot as plt        # imports the package and calls it 'plt'
import seaborn as sns                  # imports the seaborn package with the imported name 'sns'
sns.set()

<hr>

## <u>Case Study</u>: Class Data

In this group lab, you will work with class data in calculating probabilities and generating sampling distributions.

At the beginning of lab, your lab section will need to select two questions to answer.  The response to one question should be a categorical variable, ideally with 3-6 possible values.  The response to the second question should be a quantitative variable.  Some example questions are provided below:

- Examples of Categorical Questions:
    - What year in school are you?
    - What is your favorite kind of hot beverage?
    - What social media site do you most frequently use?
- Examples of Quantitative Questions: 
    - How many University of Illinois varsity men's basketball games have you attended?
    - How long did it take you to complete a memory test? (https://ww2.amstat.org/education/cas/1.cfm)
    - How long did it take you to respond in the response test? (https://ww2.amstat.org/education/cas/2.cfm)
    
As a lab group, you will select a few of these questions.  Follow the instructions that your lab instructor provides to answer these questions and then to access the resulting data.

<hr>

## 1. Categorical Question & Answers [1 pt]

In this question, you will learn if or how unusual your group is relative to your lab section.  You will focus on the categorical question your lab selected.  

**Note:** If you need to complete this assignment on your own, you may contact your lab instructor for data, or you may use the following information.  

- You will answer the question: "What year in school are you?"
- Assume you are working in a group of 3 comprised of yourself, 1 sophomore, and 1 junior.
- Assume that your group is taken from all Stat 207 students, which has 77 first years, 86 sophomores, 46 juniors, 14 seniors, and 4 fifth year+ undergraduates or graduate students for a total of 227 students.

**a)** Report the categorical question that your lab or group elected to ask.

What school year are you in?

**b)** Report your group composition.  That is, what were the answers for the members of your group?


freshman, sophomore, sophomore

**c)** Report your lab composition.  That is, what were the answers from all students in your lab section?

First year 38
Junior 23
First year 44
Sophomore 35
Sophomore 58
Sophomore 58
Sophomore 47
First year 66
Sophomore 38
First year 32
Sophomore 36

## 2. Team Probability [4 pts]

Suppose we were to randomly select $k$ students from your **lab** section **without replacement**, (where $k$ is the size of the group you are currently working in). The **order** in which we selected the $k$ students in this group **didn't matter**. Nor are there any specific "patterns" or "allocations" to any particular person in this group.

What is the probability that this randomly selected group has the same composition that your current team does?

* <u>Hint 1</u>: How many groups of size $k$ could you create from the total number of students in your lab?
* <u>Hint 2</u>: For each possible answer (value), how many groups could you create of the size that matches your group composition out of the number of options in your lab?

**Be sure to show your work and calculations.**

0.12121212121212122

In [8]:
df = pd.read_csv('Lab4YE.csv')
df

   YearofSchool  memory_test
0    First year           38
1        Junior           23
2    First year           44
3     Sophomore           35
4     Sophomore           58
5     Sophomore           58
6     Sophomore           47
7    First year           66
8     Sophomore           38
9    First year           32
10    Sophomore           36

In [10]:
(4/11) * (6/10) * (5/9)

0.12121212121212122

In [14]:
print("Another solution:")
11*10*9

Another solution:

990

In [13]:
4*6*5/990

0.12121212121212122

<hr>

## 3. Quantitative Question & Answers [1 pt]

In this question, we will again work with data generated in lab.  For this part, we will focus on the quantitative question.

**Note:** If you need to complete this assignment on your own, you may contact your lab instructor for data, or you may use the following information.  

- You will answer the question: "What is the value of a starting deal in BlackJack?"  You can calculate the starting value of a hand in BlackJack by randomly selecting two cards from a standard deck of cards.  Face cards (K, Q, J) count as 10 and Aces (A) count as 11.  All other cards count as the number printed on the card.  The only exception is if you have two Aces, your hand is worth 12 (11+1).
- Assume you are working in a group of 3 comprised of yourself, a student whose initial hand is 21, and another student whose initial hand is 16.
- You can access general class data for this question here: tinyurl.com/sp23stat207blackjack.  From the file menu, select File > Download as > csv, and move the resulting file to the same folder as this lab_04.ipynb file.

**a)** Report the quantitative question that your lab or group elected to ask.

How long did it take you to complete a memory test?

**b)** Report the answers to this question for the members of your group.

32,58,38

**c)** Read in the data that was collected from your lab for this question.

Follow the instructions of your lab instructor to access your lab data.  Once you download the file, be sure to move the resulting file to the same folder as this lab_04.ipynb document.

In [15]:
df

   YearofSchool  memory_test
0    First year           38
1        Junior           23
2    First year           44
3     Sophomore           35
4     Sophomore           58
5     Sophomore           58
6     Sophomore           47
7    First year           66
8     Sophomore           38
9    First year           32
10    Sophomore           36

## 4. Sampling Distribution & Team Probability [4 pts]

**a)** Calculate the mean value for this quantitative variable for your group.

In [16]:
(38+58+32)/3

42.666666666666664

**b)** Calculate the mean value for this quantitative variable for you lab section.

In [17]:
df['memory_test'].mean()

43.18181818181818

**c)** Generate a sample (without replacement) of the same size as your group from the lab data.  Calculate the mean of this data.  Is this the same mean as your group?

In [29]:
df.sample(3)['memory_test'].mean()

44.0

44.0. It's not the same, but it's very close.

**d)** Through simulation, generate a sampling distribution of the mean for this quantitative variable (for 1,000 groups of the same size as your group, all made up of students from your lab).  In other words, treat your lab's data as the population while creating the sampling distribution.

In [36]:
data = []
for i in range(1000):
    mean = df.sample(3)['memory_test'].mean()
    d = {'mean':mean}
    data.append(d)
df_mean = pd.DataFrame(data)
df_mean

          mean
0    35.333333
1    42.000000
2    41.666667
3    40.333333
4    38.000000
..         ...
995  42.666667
996  49.333333
997  41.000000
998  45.333333
999  47.333333

[1000 rows x 1 columns]

**e)** For this sampling distribution, answer the following questions:

- What is the mean of the sampling distribution?  How does this value compare to the values calculated in parts **a** and **b** above?
- How many means in this sampling distribution match your group's mean exactly?
- How many means in this sampling distribution are greater than or equal to your group's mean?

In [37]:
df_mean['mean'].mean()

43.30466666666666

In [39]:
len(df_mean[df_mean['mean'] == ((38+58+32)/3)])

37

In [40]:
len(df_mean[df_mean['mean'] >= ((38+58+32)/3)])

567

- This value is closer to the actual mean. The more samples you generated, the closer the simulated mean to the actual mean.