# STAT 207 Homework 5 [50 points]

## Probability, Sampling Distributions, and Random Variables

Due: Friday, February 17 by noon (11:59 am) CST

<hr>

## Package Imports

We'll import three Python packages that we've used so far and will need for this assignment.  Those packages are pandas, matplotlib.pyplot, and seaborn.  

Run the cell provided below to access the functions in these packages.

You may also need to read in additional packages below.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

<hr>

## <u>Case Study</u>: County Housing Information

The provided county.csv file contains various statistics about each county in the United States.  You can read more about this dataset and its variables here:

https://www.openintro.org/data/index.php?data=county

Observational Unit: Each row contains data recorded for a county.

Population: The population of all counties in the United States is included in the county.csv data set.

Variable: We will focus on the multi_unit variable in the data, which reports the percent of housing units in each county that are in multi-unit structures (e.g. apartments).

## 1. Champaign County [9 points]

**a)** First, read in the county.csv file.

**<u>Note</u>**: The csv file does have some missing values.  Our variable of interest, multi_unit, does not have any missing values.  For this assignment and because our variable of interest is complete, we do not need to clean the data or drop any rows with missing values.

In [3]:
df = pd.read_csv('county.csv')
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               3142 non-null   object
 1   state              3142 non-null   object
 2   pop2000            3142 non-null   object
 3   pop2010            3142 non-null   int64
 4   pop2017            3142 non-null   object
 5   pop_change         3142 non-null   object
 6   poverty            3142 non-null   object
 7   homeownership      3142 non-null   float64
 8   multi_unit         3142 non-null   float64
 9   unemployment_rate  3142 non-null   object
 10  metro              3142 non-null   object
 11  median_edu         3142 non-null   object
 12  per_capita_income  3142 non-null   object
 13  median_hh_income   3142 non-null   object
 14  smoking_ban        3142 non-null   object
dtypes: float64(2), int64(1), object(12)
memory usage: 368.3+ KB

(3142, 15)

Sample 1: We will start by focusing on our county (Champaign County in Illinois).  Because our county is home to UIUC, in which a lot of students and young adults live in apartments, we believe that our county will have a high percent of housing units in multi-unit structures.

**b)** Display just the row for Champaign County, Illinois.

Tip: We can use the **`&`** ("and") operator to indicate that we want **both** conditions on either side of the operator to be met.  We can use the **`|`** ("or") operator to indicate that we want **at least one** of the conditions to be met.  We can also chain these operators together if we need to represent more complex operations.

In [4]:
df[(df.name == 'Champaign County') & (df.state == 'Illinois')]

,name,state,pop2000,pop2010,pop2017,pop_change,poverty,homeownership,multi_unit,unemployment_rate,metro,median_edu,per_capita_income,median_hh_income,smoking_ban
604,Champaign County,Illinois,179669,201081,209399,1.83,21.4,55.9,35.2,4.24,yes,some_college,29619.49,49586,data unavailable

**c)** Calculate the probability that a randomly selected county in the United States would have a multi-unit rate that is at least as high as Champaign county's rate.

In [5]:
# Find out the multi_unit rate of Champaign, Illinois
multi_unit_champaign = df[(df.name == 'Champaign County') & (df.state == 'Illinois')].multi_unit
multi_unit_champaign

604    35.2
Name: multi_unit, dtype: float64

In [6]:
P_A = len(df[df.multi_unit >= 35.2]) / len(df)
P_A

0.02864417568427753

**d)** Calculate the probability that a randomly selected county in Illinois would have a multi-unit rate that is at least as high as Champaign county's rate.

In [7]:
P_A_and_B = len(df[(df.state == 'Illinois') & (df.multi_unit >= 35.2)]) / len(df[df.state == 'Illinois'])
P_A_and_B

0.0196078431372549

**e)** Are the events "has a multi-unit rate at least as high as Champaign County, Illinois" and "county is in the state of Illinois" independent for the counties in the United States?  Explain.

In [8]:
P_B = len(df[df.state == "Illinois"]) / len(df)
P_B

0.032463399108847865

In [9]:
P_A * P_B == P_A_and_B

False

Let P(A) be the probability of has a multi-unit rate at least as high as Champaign County, Illinois.

P(B) be the probability of county is in the state of illinois.

P(A and B) would be the probability a county in Illinois woulb have a multi-unit rate that is at least as high as Champaign county's rate.

Since P(A) * P(b) != P(A and B), according to mathematic definition of independence. They are dependent.

This makes sense because counties in illinois, especially arround champaign may have similar living habits.

## 2. Describing Champaign + Neighboring Counties [8 points]

Sample 2: What if we extend from our county to include four neighboring counties (Vermilion, Ford, Piatt, and Douglas)?  will the average multi-unit rate for these five counties be higher than the average rate for five randomly selected counties from the population of U.S. counties?

**a)** To start, create a data frame that is composed of just the five following Illinois counties:

- Champaign
- Vermilion
- Ford
- Piatt
- Douglas

Print the resulting data frame.

In [10]:
df_n = df[(df.state == "Illinois")]
df_n = df_n.loc[
    df.name.str.contains("Champaign") | 
    df.name.str.contains("Ford") | 
    df.name.str.contains("Vermilion") |
    df.name.str.contains("Piatt") | 
    df.name.str.contains("Douglas")
    ]
df_n

,name,state,pop2000,pop2010,pop2017,pop_change,poverty,homeownership,multi_unit,unemployment_rate,metro,median_edu,per_capita_income,median_hh_income,smoking_ban
604,Champaign County,Illinois,179669,201081,209399,1.83,21.4,55.9,35.2,4.24,yes,some_college,29619.49,49586,data unavailable
615,Douglas County,Illinois,19922,19980,19748,-0.57,12.1,78.3,11.2,4.01,no,hs_diploma,25796.91,52261,partial
621,Ford County,Illinois,14241,14081,13280,-2.86,15.7,79.1,7.9,4.7,yes,some_college,27234.78,50851,none
668,Piatt County,Illinois,16365,16729,16445,0.09,5.4,81.7,7.5,3.99,yes,some_college,33598.78,67360,data unavailable
686,Vermilion County,Illinois,83919,81625,77909,-3.31,19.8,71.3,14.5,6.29,yes,hs_diploma,23759.02,44930,data unavailable

**b)** Calculate the mean multi-unit rate for these five counties.

In [11]:
print('Mean of neighboring five counties: ', df_n.multi_unit.mean())

Mean of neighboring five counties:  15.260000000000002

**c)** Calculate the mean and standard deviation for the multi-unit rate for the population of counties in the United States.

In [12]:
print("Mean of pupulation in US: ", df.multi_unit.mean())
print("Std of population in US: ", df.multi_unit.std())

Mean of pupulation in US:  12.321896880967534
Std of population in US:  9.290204854486706

**d)** Generate a random sample with replacement of size $n=5$ counties from the United States, and calculate the mean multi-unit rate for these 5 counties.  What symbol should you use to describe the value you just calculated?  Compare your calculated value to the values previously calculated in **2b** and **2c**.

In [14]:
df_sample = df.sample(5, replace = True, random_state= 2102023)
df_sample.multi_unit.mean()

8.68

The symbol used for population mean is X Bar.

Comparing to 2b and 2c, the sample mean randomly selected is larger than population mean(2c), but is smaller than mean of five neighboring counties.

## 3. Comparing Champaign + Neighboring Counties [10 points]

**a)** The following MCmeans function has been provided for you.  Run the code in the first cell to load this function into Python.

Then, using the MCmeans function, geneerate output according to the following specifications:

- Specify the argument (input) for df to reference your data frame of counties
- Specify the argument for var to reference the variable name for multi-unit housing rates in the counties data frame
- Specify the argument to generate samples of size 5
- Specify the argument to generate 5000 repeated samples
- Save the output of this function to a Python object

In [15]:
def MCmeans(df, x='', replace=True, n=1, M=1):
    #INPUT:
    # df is a data frame
    # x is a text-valued name for a variable in the data frame
    # replace = True or False depending on whether 
    #    draws are with or without replacement
    # n = number of draws per sample
    # M = number of samples to draw
    MCstats = []
    for i in range(M):
        #1. Collect a random sample of size n with replacement
        #2. Take the mean of this random sample
        #3. Append this random sample mean to the SampleMeans list 
        # (which is our SAMPLING DISTRIBUTION OF SAMPLE MEANS!)
        MCstats.append(df[x].sample(n, replace=replace).mean())
    #4. returns the sampling distribution in a dataframe format
    return pd.DataFrame({x: MCstats})

In [16]:
df_simulation = MCmeans(df, 'multi_unit', replace=True, n = 5, M = 5000)
df_simulation

      multi_unit
0          12.36
1          22.00
2           9.82
3           9.42
4          14.72
...          ...
4995       17.24
4996        9.54
4997       27.02
4998       14.42
4999       12.06

[5000 rows x 1 columns]

**b)** Calculate the mean and standard deviation for the object that is created in part **3a**.  Compare these values to those from **2c**.

In [18]:
df_simulation.multi_unit.mean()

12.307412

In [19]:
df_simulation.multi_unit.std()

4.157306611486382

The mean values are quite close.
The standard deviation is much lower than population standard deviation.

**c)** What proportion of samples of size 5 have a mean multi-unit rate at least as large as the mean multi-unit rate of Champaign and four of its neighboring counties (from **2b**)?

In [21]:
len(df_simulation[df_simulation.multi_unit >= 15.26])/5000

0.2044

**d)** Which is more unusual of the multi-unit rate of Champaign county or the average multi-unit rate of Champaign county and its four neighboring counties.  Explain, including numerical support in your justification.

In [173]:
df_simulation[df_simulation.multi_unit == df_n.multi_unit.mean()]

     multi_unit
875       15.26

In [174]:
df_simulation[df_simulation.multi_unit == 35.2]

Empty DataFrame
Columns: [multi_unit]
Index: []

Multi-unit of Champaign county is more unusual.

We can find that there are two value in the sample dataframe have the same multi_unit as Champaign county and its four neighboring counties.

But we cannot find any matches the multi-unit rate of Champaign county.

<hr>

## <u>Case Study</u>: Valentine's Day Spending

## 4. How much do college students spend on Valentine's Day? [13 points]

A resident advisor aims to answer this question, so he surveys all residents who live in his dorm at the fictitious College University.  He saves this information a data file.

He has a few friends who claim that they do not spend very much on Valentine's Day.  In fact, the average spending of these friends is only $6.

The resident advisor, always a skeptic, wants to assess the claim of his friends: do they actually spend a small amount on Valentine's Day compared to his residents?  He knows that the $6 average of his friends shouldn't be compared to the population distribution for all of his residents, so he simulates a sampling distribution for the average spending of his residents on Valentine's Day.  He saves the results of this simulation to another data file.

**a)** Read in the two data files: vday1.csv and vday2.csv.  Report the number of observations for each file, and preview the first few rows of each file.

In [177]:
df1 = pd.read_csv('vday1.csv')
df2 = pd.read_csv('vday2.csv')

In [209]:
print(df1.shape)
df1.head()

(214, 2)

   Unnamed: 0  spending
0           0      2.95
1           1      8.14
2           2      5.36
3           3      2.12
4           4      1.79

In [210]:
print(df2.shape)
df2.head()

(214, 2)

   Unnamed: 0  spending
0           0      4.17
1           1      8.05
2           2      0.00
3           3      0.00
4           4     16.15

**b)** Unfortunately, the resident advisor realizes that he did not use the best naming system for his two files.  He forgets which file contains the population data and which file contains the simulated sampling distribution.  Help the resident advisor out by determining which data file contains which distribution.  Explain to him how you know that you are correct.

In [195]:
df1.spending.std()

2.454647348831522

In [196]:
df2.spending.std()

5.050620494085822

df1(vdays1) is the dataframe for population data, because it has lower standard deviation.

df2(vdays2) is dataframe of simulation data, because it has larger standard deviation. Data generated has more variability so that's why sample simulated should have a larger standard deviation.

**c)** Calculate the parameter values for the mean and standard deviation.

In [211]:
print("Population mean: ", df1.spending.mean())
print("Population std: ", df1.spending.std())

Population mean:  5.015233644859812
Population std:  2.454647348831522

**d)** The resident advisor has once again been a little careless with his record keeping.  He forgot to record how many friends he surveyed in order to calculate the $6 average spent on Valentine's Day.  Based on the available information, help him identify how many friends he surveyed.

In [216]:
df2[df2.spending == 6]

Empty DataFrame
Columns: [Unnamed: 0, spending]
Index: []

**e)** Finally, are his friends especially stingy in terms of Valentine's Day spending, relative to the residents in his dorm?  Explain.

In [257]:
len(df2[df2.spending >= 6]) / len(df2)

0.42990654205607476

No, about 43% of people spent over $6.

His friends' spending are even slightly over average.

<hr>

## <u>Case Study</u>: Super Bowl

## 5. Random Variables [10 points]

Suppose that the number of touchdowns scored by a team in the Super Bowl follows a Poisson random variable with parameter $\mu = 2.4$ ($\mu$ is also sometimes called $\lambda$).

Information about Poisson random variables is contained within the scipy.stats package.  The code to import this is included below.

In [176]:
from scipy.stats import poisson

**a)** One important aspect of working with a programming language is the ability to get information about the packages.

To start, find the documentation for this package.  You may consider performing a web search where you include the package name (scipy.stats) and the specific distribution name.

Provide the url to the documentation that you find.

From reading through this documentation, is a Poisson random variable discrete or continuous?

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.poisson.html

It is descrete.

**b)** Continuing to look through the documentation, what are the first and second methods listed in the table of available methods?

rvs(mu, loc=0, size=1, random_state=None)

pmf(k, mu, loc=0)

**c)** As of this homework's writing, you can bet on whether you think the Chiefs will score more than 2.5 touchdowns, with the bets favoring the Chiefs will score less than this number of touchdowns.

If the number of touchdowns for the Chiefs follows a Poisson distribution with parameter $\mu = 2.4$, what ist he probability that the Chiefs will score 2 touchdowns or less?

In [217]:
poisson.cdf(2,2.4)

0.5697087466575106

**d)** Using the underlying Poisson distribution described above, randomly simulate the number of touchdowns scored for each team (two teams play).  You may use random states if you'd like, but you don't need to.

In [254]:
poisson.rvs(2.4,size = 2)

array([5, 3])

**e)** You can also bet on whether you think the total score of the game will be above or below 51 points.

We'll make a simplifying assumption that each touchdown will be worth 7 points.

Based on the simulation in part **d**, how many touchdowns would be scored in your simulated game?  How many points do those touchdowns correspond to?  Based only on the number of touchdowns scored, would the score of the game be above or below 51 points?

In [255]:
(5 + 3) * 7

56

8 touch downs would be scored.

56 points in total.

It's above 51 points.

Remember to keep all your cells and hit the save icon above periodically to checkpoint (save) your results on your local computer. Once you are satisified with your results restart the kernel and run all (Kernel -> Restart & Run All). **Make sure nothing has changed**. Checkpoint and exit (File -> Save and Checkpoint + File -> Close and Halt). Follow the instructions on the Homework 4 Canvas Assignment to submit your notebook to GitHub.